*{
	box-sizing: border-box;
}
body{
	margin-top: 0;

}
.web{

  margin: auto;

  width: 700px;
  height: 100%;

  border: 5px solid #FFFF00;


}
.header{
	width: 100%;
	border-bottom: 1px solid orange;
	padding: 10px 0 10px 20px;
	
}

.header img{
	height: 70px;
	width: 70px;
	vertical-align: middle;
}
.headtext{
	display: inline-block;
	vertical-align: middle;
}
.headtext h1 , h4{
	display: block;
	margin : 0;
	/*font-size: 15px; */

}
.righttext{
	display: inline-block;
	vertical-align: middle;
	float: right;

}
.righttext address{
	display: block;
	/*font-size: 10px;*/
	color: black;
	margin-right: 10px;	
}
.righttext a{
	text-decoration: none;
	color: black;
}

table{
	  border-collapse: collapse;

}
.right{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	/*font-size: 13px;*/
}
.left{
	width: 28%;
	vertical-align: top;
	text-align: center;
	font-style: italic;

	padding-top: 15px;
	color: orange;
}
.first{
	border-bottom: 1px solid green;
}